<%= form_for(@product) do |f| %>

  <div class="field">
    <%= f.label :title, "Title:" %><br>
    <%= f.text_field :title, :size => 42 %>
  </div>

  <div class="field">
    <%= f.label :description, "Description:" %><br>
    <%= f.text_area :description, :cols => 32, :rows => 12 %>
  </div>
  <div class="field">
    <%= f.label :img_url, "Image url:"  %><br>
    <%= f.text_field :img_url, :size => 42, :disabled => true %> <br>
    <%= file_field :product, :img_url, :size => 42 %>
  </div>
  <div class="field">
    <%= f.label :price, "Price:" %><br>
    <%= f.text_field :price, :size => 5 %>
  </div>

  <div class="field">
    <%= f.label :date_published, "Date Published:" %><br>
    <%#= f.date_select :date_published %>
    <div class="datepicker">
      <% @product.date_published_format %>
      <%= f.text_field :date_published, :size => 10 %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
