<div id="all-details">

  <fieldset>

    <div id="show-img">

      <div class="main-title">
        <%= @product.title %>
      </div>

      <div class="sub-title">
        <% if not @product.img_url.blank? %>
          <%= link_to (image_tag @product.img_url, size: "200x250"), products_path, :title => 'return to "all" products ...' %>
        <% else %>
          <%= image_tag "no-image.jpg", :size => "200x250" %>
        <% end %>
      </div>

      <div class="sub-title">
        <% if not @product.price.blank? %>
          Price: <%= number_to_currency @product.price, unit: "£"  %>
        <% end %>
      </div>

      <div class="sub-title">
        <% if not @product.date_published.blank? %>
          Date published: <%= @product.date_published.strftime("%Y")  %>
        <% end %>
      </div>

      <%= link_to 'Edit', edit_product_path(@product) %>
      |
      <%= link_to 'Back', products_path %>

    </div>

    <div id="description">
      <%= @product.description %>
    </div>

  </fieldset>

</div>
